h1.conn Connection
label(for="phone") Phone
input.inpConn(type="text",id="phone",name="Phone",placeholder="Phone")
label(for="email") Email
input.inpConn(type="email",id="email",name="Email",placeholder="Email")