h1.job Jobs
div.job 
    input.inpJob(type="text",name="Company",placeholder="Company",required)
    input.inpJob(type="text",name="City",placeholder="City",required)
    input.inpJob(type="text",name="Post",placeholder="Post",required)
    label(for="start") Start Date
    input.inpJob(type="date",id="start",name="StartDate",placeholder="StartDate")
    label(for="end") End Date
    input.inpJob(type="date",id="end",name="EndDate",placeholder="EndDate")
    label(for="check") Date
    input.inpCheck(type="checkbox",id="check",name="DateCheck")
    textarea.inpArea(placeholder="Comment",name="Comment")